<!DOCTYPE html>
  <html lang="en-us">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="browse">
      <h1><%= lore.title %></h1>
      <%- lore.text %>
    </main>
  </body>
</html>
