.dark-mode a {
  color: #add8e6;

  &:hover,
  &:focus {
    color: #e8f4f8;
  }

  &:active {
    color: #e6adbc;
  }

  &:visited {
    color: #e6add8;
  }
}

img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 1em -1em;
  width: calc(100% + 2em);
}

th {
  border-bottom: 0.05em solid #000;
  text-align: left;
}

th,
td {
  padding: 0.33em 1em;
}

tr:nth-child(even) td {
  background: rgba(0, 0, 0, 0.1);
}

.dark-mode {
  th {
    border-bottom: 0.05em solid #fff;
  }

  tr:nth-child(even) td {
    background: rgba(255, 255, 255, 0.1);
  }
}
