@use '../modules/placeholders';

nav.categories {
  ul {
    @extend %box;
    list-style-type: none;

    &:before {
      content: 'Categories:';
      display: inline;
      font-style: italic;
    }

    li {
      display: inline;
      margin-left: 0.5em;

      &:before {
        content: '|';
        margin-right: 0.5em;
        opacity: 0.25;
      }

      &:first-child:before {
        content: none;
      }
    }
  }
}

.dark-mode .categories ul {
  @extend %darkmode-box;
}
