label {
  display: block;
  margin: 1em 0 0.5em 0;
}

select,
input:not([type='checkbox']):not([type='radio']) {
  appearance: none;
  background: #fff;
  border: 3px solid #888;
  border-radius: 0.5em;
  color: #000;
  margin: 0 0 1em 0;
  outline: none;
  padding: 0.3333em 1em;
  width: calc(100% - 2em);

  &:hover,
  &:focus {
    border-color: #1f75fe;
  }
}

.dark-mode select,
.dark-mode input:not([type='checkbox']):not([type='radio']) {
  background-color: #000;
  color: #fff;

  &:hover,
  &:focus {
    border-color: #add8e6;
  }
}

.input-button-combo {
  display: flex;

  select,
  input:not([type='checkbox']):not([type='radio']) {
    flex-grow: 1;
    margin: 0 0.5em 0 0;
  }
}

button,
a.button {
  appearance: none;
  background: #1f75fe;
  border-radius: 0.5em;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  padding: 0.3333em 1em;
  text-decoration: none;

  &:hover,
  &:focus {
    background: #6ba4fe;
  }

  &:active {
    background: #fe381f;
  }
}

.dark-mode button,
.dark-mode a.button {
  background: #4b61d1;
  color: #fff;

  &:hover,
  &:focus {
    background: #8896e1;
  }

  &:active {
    background: #d14b61;
  }
}
