header {
  border-bottom: 1px solid #000;

  h1 img {
    margin: 0 auto;
    width: 100%;
  }

  nav.top {
    .search,
    .pov-select {
      border-bottom: 1px solid #000;
      padding: 1em 0;

      @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid #fff;
      }
    }

    .search button {
      padding: 0.333em 1em;
      vertical-align: middle;
    }

    @media (min-width: 40em) {
      display: flex;

      .search,
      .pov-select {
        flex-grow: 1;
        padding: 0.5em 1em 0.5em 0;
      }

      .pov-select {
        border-left: 1px solid #000;
        padding: 0.5em 0 0.5em 1em;
        text-align: right;

        @media (prefers-color-scheme: dark) {
          border-left: 1px solid #fff;
        }
      }
    }
  }

  .pov-select {
    label {
      margin-right: 0.5em;
    }

    select {
      appearance: none;
      display: inline-block;
      padding: 0.33em 1em 0.33em 0.5em;
    }
  }

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid #fff;
  }
}
