header {
  border-bottom: 1px solid #000;

  h1 img {
    margin: 0 auto;
    width: 100%;
  }

  .login {
    display: block;
    font-family: "Alegreya SC", serif;
    font-size: 0.75em;
    text-align: right;
    margin: 0;
    padding: 0.5em 0;
  }

  nav.top {
    font-size: 0.75em;

    .search,
    .pov-select {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #000;
      padding: 1em 0;

      @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid #fff;
      }
    }

    label {
      margin: 0;
      opacity: 0.5;
      padding-left: 1.5em;
      text-align: left;
    }

    @media (min-width: 40em) {
      display: flex;

      .search,
      .pov-select {
        flex-grow: 1;
        padding: 0.5em 1em 1em 0;
      }

      .pov-select {
        border-left: 1px solid #000;
        padding: 0.5em 0 0.5em 1em;
        text-align: right;

        @media (prefers-color-scheme: dark) {
          border-left: 1px solid #fff;
        }
      }
    }
  }

  .pov-select {
    label {
      margin-right: 0.5em;
    }

    select {
      appearance: none;
      display: inline-block;
      padding: 0.33em 1em 0.33em 0.5em;
    }
  }

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid #fff;
  }
}
