@use '../modules/placeholders';

body {
  background-color: #fff;
  background-image: url('/theme/light/top.png'), url('/theme/light/bottom.png');
  background-position: top center, bottom center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  min-height: 100vh;
  padding-bottom: 8em;

  @media (max-aspect-ratio: 3/1) {
    background-size: contain, contain;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #000;
    background-image: url('/theme/dark/top.png'), url('/theme/dark/bottom.png');
    color: #fff;
  }
}

header,
main,
footer {
  @extend %layedout;
}
