.login {
  .oauth {
    p {
      font-style: italic;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0.5em 0;
      }
    }

    .button {
      width: calc(100% - 2em);

      svg {
        fill: #fff;
        height: 0.75em;
        margin-right: 0.5em;
        vertical-align: baseline;
        width: 0.75em;
      }

      &.disabled {
        color: #ccc;
        cursor: not-allowed;

        svg {
          fill: #ccc;
        }
      }
    }

    .google {
      background: #de5246;

      &:hover,
      &:focus {
        background: #ea8f87;
      }

      &:active {
        background: #b72c21;
      }

      &.disabled {
        background: #888;
      }
    }

    .discord {
      background: #7289da;

      &:hover,
      &:focus {
        background: #afbcea;
      }

      &:active {
        background: #3556ca;
      }

      &.disabled {
        background: #888;
      }
    }
  }

  @media (min-width: 40em) {
    display: flex;
    flex-direction: row;

    form,
    .oauth {
      flex-grow: 1;
    }

    form {
      border-right: 1px solid #000;
      padding: 0 2em 0 0;
    }

    .oauth {
      padding: 0 0 0 2em;
    }
  }
}

.dark-mode .login .oauth {
  @media (min-width: 40em) {
    border-right: 1px solid #fff;
  }
}
