<header>
  <nav class="top">
    <form class="search">
      <input type="search" name="query" placeholder="Search" />
      <button>Go</button>
    </form>
    <div class="pov-select">
      <a href="/login">Log in</a>
    </div>
  </nav>
  <h1>
    <a href="/">
      <picture>
        <source srcset="/theme/dark/dragonbetween.png" media="(prefers-color-scheme: dark)" />
        <img src="/theme/light/dragonbetween.png" alt="The Dragon Between" />
      </picture>
    </a>
  </h1>
</header>