<header>
  <p class="login">
    <% if (authenticated) { %>
      <a href="/logout">Log out</a>
    <% } else { %>
      <a href="/login">Log in</a>
    <% } %>
  </p>
  <nav class="top">
    <form class="search">
      <label for="search">Search</label>
      <div class="input-button-combo">
        <input type="search" name="query" id="search" placeholder="Search" />
        <button>Go</button>
      </div>
    </form>
    <div class="pov-select">
      <% if (authenticated) { %>
        <form method="post" action="/pov">
          <label for="pov">POV</label>
          <div class="input-button-combo">
            <select name="pov" id="pov">
              <option value="outsider">Outsider</option>
              <% for (const char of characters) { %>
                <option value="<%= char.id %>"><%= char.name %></option>
              <% } %>
              <% if (gm) { %>
                <option value="gm">Game Master</option>
              <% } %>
            </select>
            <button>Go</button>
          </div>
        </form>
      <% } else { %>
          <form method="post" action="/pov">
            <label for="pov">POV</label>
              <div class="input-button-combo">
              <select name="pov" id="pov">
                <option value="outsider">Outsider</option>
              </select>
              <button>Go</button>
            </div>
          </form>
      <% } %>
    </div>
  </nav>
  <h1>
    <a href="/">
      <picture>
        <source srcset="/theme/dark/dragonbetween.png" media="(prefers-color-scheme: dark)" />
        <img src="/theme/light/dragonbetween.png" alt="The Dragon Between" />
      </picture>
    </a>
  </h1>
</header>