<header>
  <h1>
    <a href="/">
      <picture>
        <source srcset="/theme/dark/dragonbetween.png" media="(prefers-color-scheme: dark)" />
        <img src="/theme/light/dragonbetween.png" alt="The Dragon Between" />
      </picture>
    </a>
  </h1>
</header>